<body id="player_index">

<h1>Enemies</h1>
<% @enemies.each do |enemy| %>

    <h1> <%= link_to enemy.name, enemy_path(enemy)%></h1><br>

<%end%>

<%= button_to "Create a new Enemy", new_enemy_path(@enemy), method: "get"%>
<br>
<%= link_to "Back to Main Menu", battles_path %>

</body>
