<body id="player_index">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/enemies/new?">Create a new Enemy</a></li>
</ul>

<% @enemies.each do |enemy| %>
<br>
    <h4>Enemy: <%= link_to enemy.name, enemy_path(enemy)%></h4>
    <h4>Health:  <%= enemy.health%></h4>
<br>
<%end%>

</body>
