<body id="player_show">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/attacks/new?">Create a new Attack</a></li>
</ul>

<% @attacks.each do |attack| %>
    <div>
        <h4>
            <%= link_to attack.name, attack_path(attack)%>
        </h4>
    </div>
<%end%>


</body>

