<body id="player_index">
<h1>Attacks</h1>
<% @attacks.each do |attack| %>
    <ul>
        <li>
            <%= link_to attack.name, attack_path(attack)%>
        </li>
    </ul>
<%end%>

<%= button_to "Create a new Attack", new_attack_path(@attack), method: "get"%>
<br>
<%= link_to "Back to Main Menu", battles_path %>

</body>
