<body id="index">
<h1>Attacks</h1>
<% @attacks.each do |attack| %>
    <div>
        <p>
            <%= link_to attack.name, attack_path(attack)%>
        </p>
    </div>
<%end%>

<%= button_to "Create a new Attack", new_attack_path(@attack), method: "get"%>
<br>
<%= link_to "Back to Main Menu", battles_path %>

</body>
