
<body id="game_play">
<h1>Welcome To True Gaming Destinations</h1>


<%= form_for(@player) do |p|%>
    <%= p.label :name %><br>
    <%= p.text_field :name %><br>
    <br>
    <%= p.submit%>
<%end%>





</body>
