<body id="winner">
<%# <%find_state = []%>



<h1> <%="#{@battle.player.name.upcase} #{@battle.state}"%>!</h1>

<%if @battle.state == "WON"%>
<h1>Please collect your prize</h1>
<img id ="ice_cream" src="/assets/ice_cream.gif">
<img id ="confetti" src="/assets/confetti.gif" >
<%= button_to "You Won #{@battle.prize}", prize_path(@battle), method: "patch"%>
<%end%>

<%if @battle.state == "LOST"%>
    <img id ="fire" src="https://cdn.lowgif.com/full/f7cc36fd020089d6-fire-gif-clipart-best.gif" >
    <img id ="lost" src="https://img.pngio.com/transparent-lisa-simpson-gif-sticker-gif-gfycat-simpsons-transparent-498_682.gif" >
    <%= button_to "You Lost #{@battle.prize}", lost_path(@battle), method: "patch"%>
<%end%>



