<body id="player_index">
<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/players/new?">Create a new Player</a></li>
</ul>


<%= button_to "Generate Player", "/players/24/create_player", method: "patch"%>
  
    <% @players.each do |player| %>
    <br>
        <h4 id = "list">Player:  <%= link_to player.name, player_path(player) %></h4>
        <h4 id = "list">Health:  <%= player.health%></h4>
    <br>
    <%end%>
  </div>
</body>