<body id="player_index">
<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/players/new?">Create a new Player</a></li>
</ul>

    <% @players.each do |player| %>
    <br>
        <h4>Player:  <%= link_to player.name, player_path(player) %></h4>
        <h4>Health:  <%= player.health%></h4>
    <br>
    <%end%>

</body>