// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#battles_index {
    background-image: url("main_bc.gif");
    text-align: center;
    width: auto;
    height: auto;
}
    
#battles_index h1 {
    color: white;
    text-align: center;
    border: 20px;
}

#battle_new {
    background-image: url("main_bc.gif");
    text-align: center;
    width: auto;
    height: auto;
}

#battle_new h1 {
    color: white;
    text-align: center;
    position: relative;
}
#battle_new label {
    color: white;
    font-size: 20px;
    // float: left;
    position: relative;
    padding: 15px;
    top: 350px;
}
select#battle_player_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;

}
select#battle_location_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;


}
select#battle_enemy_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;

}

#battle_new input {
    width: 120px;
    height: 40px;
    position: relative;
    margin: 15px;
    top: 350px;
    background-color: rgb(110, 33, 33);
    color: white;

}

#battle_page_player {
    float: left;
    width: 50%;
    height: 500px;
    position: relative;

}
#battle_page_enemy {
    float: left;
    width: 50%;
    height: 100px;
    position: relative;

}

img {
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: auto;
  margin-right: auto;
  display: block;

}

img#confetti {
    width: 100%;
    height: 100%;
    position: relative;
}
img#lost {
    width: 40%;
    height: 40%;
    position: relative;
}
img#fire {
    width: 100%;
    height: 100%;
    position: absolute;
}

#winner h1 {
    color: white;
    text-align: center;
}

#winner {
    background-color: #1b1b1b;
}

img#ice_cream {
    margin-left: 30%;
    margin-right: 30%;
    bottom: 40%;
    // margin: auto;
    width: 40%;
    position: absolute;
}

#winner input {
    background-color: rgb(41, 169, 173);
    top: 600px;
    margin-left: 35%;
    margin-right: 35%;
    // margin: auto;
    width: 30%;
    height: 6%;
    position: absolute;
    font-size: 20px;
}

#opponent {
    color: red;
    text-align: center;
}

#battle_show input {
    background-color: red;
    width: 25%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20%;
    position: relative;
}

#battle_show #bank {
    width: 100%;
    height: 100%;
    // left: 10%;
    // right: 10%;
    position: absolute;
}



