// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#battle_index {
    background-image: url("main_bc.gif");
    text-align: center;
    width: auto;
    height: auto;
}
    


#battle_index h1 {
    color: white;
    text-align: center;
    border: 20px;
}