// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Battle_Index-----------------------------------------------------------
#battle_index {

    // background-image: linear-gradient(rgb(30, 4, 78), rgb(158, 45, 143), rgba(230, 219, 66, 0.315), url("main_bc.gif"));
    // background: url("main_bc.gif"); https://i.redd.it/0bb6dqsiab451.gif  https://media.giphy.com/media/t74HSTS5I0F0Y/giphy.gif
    background: url("https://media.giphy.com/media/26n6EEuaqjQIQQXyU/giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    text-align: center;
    width: auto;
    height: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
    
#battle_index h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border: 20px;
    
}

#battle_index h2 {
    color: #566573;
    text-align: center;
    border: 20px;
}

#battle_index h4 {
    color: #383838;
    text-align: center;
    border: 20px;
}

#battle_index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  //-Navigation Bar---------------------------
#battle_index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #566573;
  }

  #battle_index li {
    float: left;
  }

  #battle_index li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    background-color: #566573;
  }
  
  #battle_index li a:hover {
    background-color:  #313a42;
    color: rgb(0, 0, 0);
  }

  #battle_index .active {
    background-color: rgb(216, 155, 64);
    color: white;
  }
//-Button------------------------------------
  #battle_index input {
    border: none;
    border-radius: 2px;
    width: 170px;
    height: 40px;
    margin: 15px;
    top: 350px;
    background-color: rgb(219, 115, 29);
    color: rgb(248, 202, 164);
}

#battle_index input:hover {
    background-color: rgb(146, 66, 0);
    color: rgb(248, 202, 164);
}

//Battle_New------------------------------------------------------------
#battle_new {
    background-image: url("main_bc.gif");
    text-align: center;
    width: auto;
    height: auto;
}

#battle_new h1 {
    color: white;
    text-align: center;
    position: relative;
}
#battle_new label {
    color: white;
    font-size: 20px;
    // float: left;
    position: relative;
    padding: 15px;
    top: 350px;
}
select#battle_player_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;

}
select#battle_location_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;


}
select#battle_enemy_id {
    // float: left;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-style: bold;
    position: relative;
    top: 350px;
    background-color: rgb(34, 34, 34);
    color: white;

}

#battle_new input {
    width: 120px;
    height: 40px;
    position: relative;
    margin: 15px;
    top: 350px;
    background-color: rgb(110, 33, 33);
    color: white;

}

#battle_page_player {
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
    margin-top: 11%;

}
#battle_page_enemy {
    float: left;
    width: 50%;
    height: 100px;
    position: relative;
    margin-top: 11%;


}

img {
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: auto;
  margin-right: auto;
  display: block;

}

img#confetti {
    width: 100%;
    height: 100%;
    position: relative;
}
img#lost {
    width: 40%;
    height: 40%;
    position: relative;
}
img#fire {
    width: 100%;
    height: 100%;
    position: absolute;
}

#winner h1 {
    color: white;
    text-align: center;
}

#winner {
    background-color: #1b1b1b;
}

img#ice_cream {
    margin-left: 30%;
    margin-right: 30%;
    bottom: 40%;
    // margin: auto;
    width: 40%;
    position: absolute;
}

#winner input {
    background-color: rgb(41, 169, 173);
    top: 600px;
    margin-left: 35%;
    margin-right: 35%;
    // margin: auto;
    width: 30%;
    height: 6%;
    position: absolute;
    font-size: 20px;
}

#opponent {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 114, 61);
    height: 25px;
    width: 30%;
    // top: 0%;
    padding: 20px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    // position: relative;
}

#battle_show input {
    background-color: rgb(42, 5, 109);
    color: white;
    font-size: 20px;
    width: 25%;
    height: 50px;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 0%;
    position: relative;
}

// #battle_show #bank {
//     width: 100%;
//     height: 100%;
//     padding: 0%;
//     margin: 0%;
//     // right: 10%;
//     position: absolute;
// }

#battle_show {
    background-repeat: no-repeat;
    background-image: url("https://i.redd.it/0bb6dqsiab451.gif");
background-size: 100%;
}

#player_health {
    color: rgb(209, 97, 46);
    text-align: center;
    width: 100%;
    // margin-right: 10%;
    // margin-left: 10%;
    // float: right;
    position: relative;
    // border: 15px white;
}

#enemy_health {
    color: rgb(209, 97, 46);
    text-align: center;
    width: 100%;
    // margin-right: 10%;
    // margin-left: 10%;
    // float: right;
    position: relative;
}

progress {
    background-color: green;
    color: red;
    width: 30%;
}

h3 {
    text-decoration: underline;
}




