// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#game_play {
    background-image: url("https://cutewallpaper.org/21/1920x1080-gif/gif-Backgrounds-Wallpaper-Cave.gif");
    text-align: center;
    width: auto;
    height: auto;
}
    


#game_play h1 {
    color: white;
    text-align: center;
    border: 20px;
}
#game_play label {
    color: white;
    text-align: center;
    border: 20px;
}