<body id="player_show">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/locations/new?">Create a new Location</a></li>
</ul>

<% @locations.each do |location| %>
<br>
<br>
  <h4><%= location.name%></h4>
  <h4>Boost Type:  <%= location.location_type%></h4>
  <%= button_to "Edit #{location.name}", edit_location_path(location), method: "get"%>
  <%= button_to "Delete", location_path(location), method: "delete"%>
<br>
<br>
<br>
<%end%>

</body>
